<div ng-controller="SummaryCtrl">
    <div class="grid-wrapper">
        <div class="u-spacing-above u-spacing-under">
            <div class="grid">
                <div class="grid__item sm--one-half">
                    <p translate>VIEW.SECTIONS.SUMMARY.TEXT</p>
                </div>
                <div class="grid__item sm--one-half">
                    <dl class="info-tile">
                        <dt translate>GENERAL.CUSTOMER_INFO.NOTIFIER</dt>
                        <dd id="notifierName">{{customer.fullName | capitalAndLowerCase}}</dd>
                        <dt translate>GENERAL.CUSTOMER_INFO.POLICYHOLDER</dt>
                        <dd id="policyHolderName">{{policyHolder.fullName | capitalAndLowerCase}}</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div ng-repeat="summaryContainer in summaryModel track by $index">
            <h3>{{summaryContainer.header | translate}}</h3>
            <a href="#{{summaryContainer.section}}"
               id="change-{{summaryContainer.section}}"
               ng-click="goTo(summaryContainer.section)"
               class="form-section__change u-font-bold slidedown-anchor" translate>VIEW.SECTIONS.SUMMARY.CHANGE</a>
            <table class="standard-table standard-table--summary standard-table--fixed">
                <tbody ng-repeat="block in summaryContainer.blocks track by $index">
                <tr>
                    <td class="form-section__subheading" colspan="2" ng-show="block.header">{{block.header | translate}}</td>
                </tr>
                <tr ng-repeat="summary in block.summaries track by $index"
                    class="summary-item"
                    ng-class="{'even-row' : $index % 2 === 0}">
                    <th id="{{summary.id +'Question'}}">{{summary.question | translate}}</th>
                    <td id="{{summary.id +'Answer'}}">{{summary.answer | translate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <stp-Navigation></stp-Navigation>
</div>