<div class="u-bgcolor-blue-5 u-small-type">
    <div class="grid-wrapper">
        <div class="u-padding-above">

            <h3 class="u-typography-2 u-spacing-under-narrow" translate>VIEW.SECTIONS.OFFER.STP.THANKS_NO.HEADER</h3>

            <div class="grid grid--wide">
                <div class="grid__item sm--one-half">
                    <p translate translate-values="{compensation: offerModel.compensation, claimId: offerModel.getClaimId()}">VIEW.SECTIONS.OFFER.STP.THANKS_NO.INFO_REJECTED_CONTACT_CLAIM_ID</p>
                    <p translate>VIEW.SECTIONS.OFFER.STP.INFO_CONTACT_US</p>
                    <p>
                        {{'VIEW.SECTIONS.OFFER.REGARDS' | translate}}
                        <br>
                        {{'VIEW.SECTIONS.OFFER.FOLKSAM' | translate}}
                    </p>
                </div>
                <div class="grid__item sm--one-half">
                    <div class="suggestion u-bgcolor-white">
                        <h4 translate>VIEW.SECTIONS.OFFER.STP.ADVICE_HEADING</h4>
                        <p translate>VIEW.SECTIONS.OFFER.STP.ADVICE</p>
                    </div>

                    <div class="suggestion" ng-if="!offerModel.policeIsReported">
                        <h4 translate translate-values="{eventType: offerModel.eventType}">VIEW.SECTIONS.OFFER.STP.INFO_POLICE_REPORT</h4>
                        <p>
                            <a class="link-external" href="https://polisen.se/Utsatt-for-brott/Gor-en-anmalan/" translate translate-values="{eventType: offerModel.eventType}" target="_blank">VIEW.SECTIONS.OFFER.STP.LINK_POLICE_REPORT</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-align-center u-bgcolor-blue-4">
    <button class="button u-spacing-above-narrow u-spacing-under-narrow js-print" ng-click="print();"><i class="icon icon-print"></i> {{'VIEW.SECTIONS.OFFER.STP.PRINT' | translate}}</button>
</div>